<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {{!-- ajax --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="icon" href="/img/favicon.png" sizes="32x32" />
    <link rel='stylesheet' id='index-css' href='/css/login_page.css' type='text/css' media='all' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>
</head>

<body>
    <!-- Header -->
    <div id="header"></div>
    <!-- Header -->

    <div id="headder-main-body" class="container pt-5 pb-5">
        <div class="wrapper_login fadeInDown_login">
            <div id="formContent_login">
                <!-- Tabs Titles -->
                <h2 class="active_login" style="font-weight: 400;"> Sign In </h2>

                <!-- Icon -->
                <div class="fadeIn_login first_login">
                    <img src="/img/ecommerce.jpeg" id="icon_login" alt="User Icon" />
                </div>
                {{#if data}}
                <div class="fadeIn_login second_login">
                    <p>{{data}}</p>
                </div>
                {{/if}}
                <!-- Login Form -->
                <form method="POST" action="/auth">
                    <input type="text" id="user_name" class="text_login fadeIn_login second_login" name="user_name"
                        placeholder="Username" required>
                    <input type="password" id="password" class="password_login fadeIn_login second_login"
                        name="password" placeholder="Password" pattern=".{8,}" title="8 characters minimum" required>
                    <input type="submit" class="bla_login fadeIn_login third_login" value="Log In">
                </form>
            </div>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>