<nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="home-table-gray navbar-brand" style="color: #9fa0a2;" href="/home">Membership</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li id="header-staff" class="nav-item"><a class="nav-link active btn btn-dark" style="color: #9fa0a2;"
                        href="/admin-list" type="button"><i class=""></i><span class="">STAFF</span></a></li>
                <!-- <li class="nav-item">
                    <a class="nav-link active btn btn-dark" aria-current="page" style="color: #9fa0a2;" href="/scan-page" type="button"><i class=""></i><span class="">FIND</span></a>
                </li> -->

                <li id="header-staff" class="nav-item"><a class="nav-link active btn btn-dark" style="color: #9fa0a2;"
                        href="/product" type="button"><i class=""></i><span class="">ALL PRODUCT</span></a></li>
                <li class="nav-item"> <a class="nav-link active btn btn-dark" style="color: #9fa0a2;" href="/exit"
                        type="button"><i class=""></i><span class=""> LOGOUT</span></a></li>
            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>

            <!-- <form id="search-data" class="d-flex" method="POST">
                <input id="navbar-search" class="form-control me-2" type="search" placeholder="Search" name="search"
                    aria-label="Search" required>
                <button id="navbar-search-btn" class="btn btn-outline-light" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>